.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: darkslategray;
}

.active {
  color: firebrick;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid greenyellow;
}
